body {
    display: block;
    background-color: #FCFCFC;
}
#logodiv {
    position: relative;
    height: 100px;
    width: 430px;
    left: 50%;
    margin-left: -215px;
    color: #CB2B68;
    font-family: 'Lobster', cursive;
    font-size: 90px;
    text-align: center;
}

.page {
    position: fixed;
    height: 400px;
    width: 400px;

    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;

    background-color: #23CBF2;
    border-radius: 7%;

    font-family: 'Raleway', sans-serif;
}

div p {
    position: relative;
    color: #CB2B68;
}

#loginTitle {
    font-size: 60px;
    margin-top: 25px;
    text-align: center;
}

#resetTitle {
    font-size: 40px;
    margin-top: 25px;
    text-align: center;
}

input {
    border: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#edu {
    position: absolute;
    font-size: 18px;
    margin-top: -25px;
    left: 50%;
    margin-left: -150px;
}

#password {
    position: absolute;
    font-size: 18px;
    left: 50%;
    margin-left: -149px;
    margin-top: 65px;
}

#userField {
    position: absolute;
    height: 40px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    text-decoration: none;
    font-size: 16px;
}
#resetPasswordPassword {
    position: absolute;
    height: 40px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    text-decoration: none;
    font-size: 16px;
}
#resetPasswordPasswordConfirm {
    position: absolute;
    height: 40px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: 90px;
    text-decoration: none;
    font-size: 16px;
}
#resetSubmit {
    position: absolute;
    background-color: white;
    color: #CB2B68;
    font-size: 18px;
    height: 25px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: 160px;
}
#passwordField {
    position: absolute;
    height: 40px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: 90px;
    text-decoration: none;
    font-size: 16px;
}

#submit {
    position: absolute;
    background-color: white;
    color: #CB2B68;
    font-size: 18px;
    height: 25px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: 160px;
}

#loginpagefooter {
    position: relative;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    margin-top: 66%;
}

#logoleft {
    display: block;
    position: relative;
    float: left;
}
#logoleft {
    display: block;
    position: relative;
    float: right;
}

#changeForm {
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    margin-top: 66%;
}
p a {
    text-decoration: none;
    color: #CB2B68;
}

#forgotSubmit {
    position: absolute;
    background-color: white;
    color: #CB2B68;
    font-size: 18px;
    height: 25px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: 80px;
}

#returnToLogin {
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    margin-top: 48%;
}

