.profileBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}


.editProfile {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}

.accountSettingsBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}

#editProfileLinkText {
    float: right;
    font-family: 'Raleway', sans-serif;
    color: #CB2B68;
    font-size: 20px;
    margin-top: -7.5%;
    margin-right: .5%;
}

.editProfileOption {
    margin-bottom: 3%;
}

#editProfileType {
    margin-top: -.5%;
    color: #117F99;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

#currentUsernameOption {
    margin-top: -2%;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

#currentUniversityOption {
    margin-top: -2%;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
#currentMajorOption {
    margin-top: -2%;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
#currentGradDateOption {
    margin-top: -2%;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
#changeUsernameOption {
    position: absolute;
    margin-top: -40px;
    margin-left: 375px;
    height: 20px;
    width: 400px;
}

#changeUniversityOption {
    position: absolute;
    margin-top: -40px;
    margin-left: 375px;
    height: 20px;
    width: 400px;
}

#changeMajorOption {
    position: absolute;
    margin-top: -40px;
    margin-left: 375px;
    height: 20px;
    width: 400px;
}

#changeGradDateOption {
    position: absolute;
    margin-top: -40px;
    margin-left: 375px;
    height: 20px;
    width: 400px;
}
#changeProfileSubmit {
    height: 20px;
    position: absolute;
    margin-top: -6px;
    margin-left: 800px;
    color: #CB2B68;
    background-color: #23CBF2;
}

span {
    color: #117F99;
}

.accountSettingsBody p {
    color: #117F99;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

#changePasswordField {
    position: absolute;
    margin-top: -57px;
    margin-left: 325px;
    height: 20px;
    width: 400px;
}

#deleteAccountButton {
    position: absolute;
    background-color: white;
    color: #CB2B68;
    font-size: 18px;
    height: 25px;
    width: 100px;
    margin-top: -58px;
    margin-left: 323px;
}

#changePasswordButton {
    position: absolute;
    background-color: white;
    color: #CB2B68;
    font-size: 18px;
    height: 25px;
    width: 100px;
    margin-top: -58px;
    margin-left: 900px;
}

#addAdmin {
    position: absolute;
    margin-top: -57px;
    margin-left: 325px;
    height: 20px;
    width: 400px;
}

#addAdminButton {
    position: absolute;
    background-color: white;
    color: #CB2B68;
    font-size: 18px;
    height: 25px;
    width: 100px;
    margin-top: -58px;
    margin-left: 900px;
}

