#coursesBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

#departmentBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

#ClubsBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

#InternshipBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

#ResidentialBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

#DiningBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

.submitButtons {
    position: absolute;
    background-color: white;
    color: #CB2B68;
    font-size: 18px;
    height: 25px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
}

#coursesBody h2 {
    text-align: center;
    color: #117F99;
}

#InternshipBody h2 {
    text-align: center;
    color: #117F99;
}

#ClubsBody h2 {
    text-align: center;
    color: #117F99;
}

#ResidentialBody h2 {
    text-align: center;
    color: #117F99;
}

#DiningBody h2 {
    text-align: center;
    color: #117F99;
}

#coursesSchoolDrop {
    position: absolute;
    width: 392px;
    left: 50%;
    margin-left: -196px;
}

#schoolCourseReviewBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}

#selectCourseDrop {
    position: absolute;
    width: 180px;
    left: 50%;
    margin-left: -90px;
}

#internshipSchoolDrop {
    position: absolute;
    width: 208px;
    left: 50%;
    margin-left: -104px;
    font-family: 'Raleway', sans-serif;
}

#internshipListDrop {
    position: absolute;
    width: 240px;
    left: 50%;
    margin-left: -120px;
}

#centerNewInternship {
    position: absolute;
    width: 240px;
    left: 50%;
    margin-left: -120px;
}

#centerNewClub {
    position: absolute;
    width: 240px;
    left: 50%;
    margin-left: -120px;
}

#clubsSchoolDrop {
    position: absolute;
    width: 208px;
    left: 50%;
    margin-left: -104px;
    font-family: 'Raleway', sans-serif;
}

#clubsListDrop {
    position: absolute;
    width: 240px;
    left: 50%;
    margin-left: -120px;
}

#residentialSchoolDrop {
    position: absolute;
    width: 208px;
    left: 50%;
    margin-left: -104px;
    font-family: 'Raleway', sans-serif;
}

#selectResDrop {
    position: absolute;
    width: 264px;
    left: 50%;
    margin-left: -132px;
}

#diningSchoolDrop {
    position: absolute;
    width: 208px;
    left: 50%;
    margin-left: -104px;
    font-family: 'Raleway', sans-serif;
}

#selectDiningDrop {
    position: absolute;
    width: 218px;
    left: 50%;
    margin-left: -109px;
}

.departmentTitle {
    text-align: center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #117F99;
}

#selectCourse {
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    color: #CB2B68;
}

.reviewObject {
    height: 200px;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.reviewDetails p {
    color: #117F99;
}

.reviewText {
    color: black;
}

.reviewDetails {
    background-color: white;
    height: 80%;
    width: 15%;
    border-radius: 7px;
    float: left;
}

.reviewText {
    background-color: white;
    overflow: auto;
    height: 80%;
    width: 80%;
    border-radius: 7px;
    float: right;
}

