#coursesBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

#departmentBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

#ClubsBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

#InternshipBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

#ResidentialBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

#DiningBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
}

.submitButtons {
    position: absolute;
    background-color: white;
    color: #CB2B68;
    font-size: 18px;
    height: 25px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    border: 1px solid #888;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

#coursesBody h2 {
    text-align: center;
    color: #117F99;
}

#InternshipBody h2 {
    text-align: center;
    color: #117F99;
}

#ClubsBody h2 {
    text-align: center;
    color: #117F99;
}

#ResidentialBody h2 {
    text-align: center;
    color: #117F99;
}

#DiningBody h2 {
    text-align: center;
    color: #117F99;
}

#coursesSchoolDrop {
    position: absolute;
    width: 392px;
    left: 50%;
    margin-left: -196px;
}

#schoolCourseReviewBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}

#selectCourseDrop {
    position: absolute;
    width: 180px;
    left: 50%;
    margin-left: -90px;
}

#internshipSchoolDrop {
    position: absolute;
    width: 208px;
    left: 50%;
    margin-left: -104px;
    font-family: 'Raleway', sans-serif;
}

#internshipListDrop {
    position: absolute;
    width: 240px;
    left: 50%;
    margin-left: -120px;
}

#centerNewInternship {
    position: absolute;
    width: 240px;
    left: 50%;
    margin-left: -120px;
}

#schoolInternshipReviewBody {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}

#centerNewClub {
    position: absolute;
    width: 240px;
    left: 50%;
    margin-left: -120px;
}

#clubsSchoolDrop {
    position: absolute;
    width: 208px;
    left: 50%;
    margin-left: -104px;
    font-family: 'Raleway', sans-serif;
}

#clubsListDrop {
    position: absolute;
    width: 240px;
    left: 50%;
    margin-left: -120px;
}

#residentialSchoolDrop {
    position: absolute;
    width: 208px;
    left: 50%;
    margin-left: -104px;
    font-family: 'Raleway', sans-serif;
}

#selectResDrop {
    position: absolute;
    width: 264px;
    left: 50%;
    margin-left: -132px;
}

#diningSchoolDrop {
    position: absolute;
    width: 208px;
    left: 50%;
    margin-left: -104px;
    font-family: 'Raleway', sans-serif;
}

#selectDiningDrop {
    position: absolute;
    width: 218px;
    left: 50%;
    margin-left: -109px;
}

.departmentTitle {
    text-align: center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #117F99;
}

#selectCourse {
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    color: #CB2B68;
}

.reviewObject {
    height: 200px;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.reviewDetails p {
    color: #117F99;
}

.reviewText {
    color: black;
}

.reviewDetails {
    background-color: white;
    height: 80%;
    width: 15%;
    border-radius: 7px;
    float: left;
    margin-top: 10px;
}

.reviewText {
    background-color: white;
    overflow: auto;
    height: 80%;
    width: 80%;
    border-radius: 7px;
    float: right;
    margin-top: 10px;
}

.Modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.ModalContent {
    background-color: #F2F2F2;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 45%;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.ModalContent h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #117F99;
}

#dropdown1 {
    margin-top: -215px;
    margin-left: 1000px;
}

#dropdown2 {
    margin-left: 1000px;
}

#dropdown3 {
    margin-left: 1000px;
}

.dropdowns {
    margin-top: -33px;
    margin-left: 150px;
}

.addReviewButton {
    position: absolute;
    background-color: white;
    color: #CB2B68;
    font-size: 18px;
    height: 25px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    border: 1px solid #888;
    margin-top: 40px;
}

.addClubReviewButton {
    position: absolute;
    background-color: white;
    color: #CB2B68;
    font-size: 18px;
    height: 25px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    border: 1px solid #888;
    margin-top: 100px;
}

.addDormReviewButton {
    position: absolute;
    background-color: white;
    color: #CB2B68;
    font-size: 18px;
    height: 25px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    border: 1px solid #888;
    margin-top: 175px;
}

.addReview {
    position: absolute;
    background-color: white;
    color: #CB2B68;
    font-size: 14px;
    height: 25px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    border: 1px solid #888;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font-family: 'Raleway', sans-serif;
}

.reviewPageTitle {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #117F99;
}

.upvotes {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    border-radius: 7px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: -10px;
}

.arrows {
    height: 30px;
    width: 30px;
    margin-left: -1px;
}

.upvoteCounts {
    margin-top: -15px;
}